.authlink {
  padding: 5px 10px;
  border-radius: 20px;
  --color: gold;
  margin: 0 !important;
}

.authlink:last-child {
  margin-right: 30px;
}

.icon {
  display: none;
}

.authlink:hover {
  background: linear-gradient(transparent, 95%, var(--color) 5%);
}

@media screen and (max-width: 1324px) {
  .authlink {
    padding: 6px 0;
  }
}

@media screen and (max-width: 1024px) {
  .authlink {
    padding: 5px 7px;
  }
}

@media screen and (max-width: 868px) {
  .authlink .anchor span {
    font-size: 0.8rem !important;
    margin-left: -4px;
  }
}

@media screen and (max-width: 580px) {
  .authlink:last-child {
    margin-right: 0;
  }
  .icon {
    display: inline;
    margin-left: -10px;
    margin-right: 6px;
    font-size: 1.4rem;
  }
  .authlink:hover {
    --color: transparent;
  }
  .anchor {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
  }
  .authlink .anchor span {
    font-size: 1.1rem !important;
  }
}
