.container {
  position: relative;
  margin-block: 5%;
}

.comment,
.send {
  border: 2px solid var(--text-color);
  background-color: var(--footer-bg);
  border-radius: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment {
  margin-block: 5%;
}

.input {
  background-color: transparent;
  padding: 20px;
  width: 100%;
  outline: none;
  border: none;
  color: var(--text-color);
  font-size: 1rem;
}

.send {
  color: var(--text-color);
  padding: 20px;
  font-size: 1.5rem;
  background-color: #09ff5d80;
  transition: background-color 1s ease;
}

.input::placeholder {
  color: var(--text-color);
}

.send:hover {
  background-color: #09ff5d;
}

.container h2 {
  margin-bottom: 50px;
}

.aTag {
  margin-block: 10%;
  padding: 10px;
  background-color: var(--footer-bg);
  border: 2px solid var(--border-color);
  border-radius: 30px;
  margin-top: 50px;
}

.aTag:hover {
  background-color: var(--border-color);
}
