.container {
    display: grid;
    grid-template-areas:
      "S S N"
      "L M N"
      "L M N"
      "L U U";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px 150px 150px 200px;
    gap: 10px;
    margin-block: 5%;
    opacity: var(--opacity);
  
  }
  
  .S {
    grid-area: S;
    background: var(--img);
  }
  .N {
    grid-area: N;
    background: var(--img);
  }
  .L {
    grid-area: L;
    background: var(--img);
  }
  .M {
    grid-area: M;
    background: var(--img);
  }
  .U {
    grid-area: U;
    background: var(--img);
  }
  
  .item {
    background-size: cover;
    background-position: center;
    position: relative;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
  }
  
  
  .container,
  .item {
    transition: 0.5s ease;
  }
  
  .container:hover .item:not(:hover) {
    opacity: var(--opacity);
  }