.flexWrapper{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
    margin-block: 5%;
    flex-direction: row;
}

.itemOne{
    width: 70%;
}

.itemTwo{
    width: 30%;
}

@media screen and (max-width:880px) {
    .flexWrapper{
        flex-direction: column;
        align-items: center;
    }

}