.container{
    position: relative;
    width: calc(100% - var(--left));
    left: var(--left);
    padding: 20px;
    top: 100%;
} 


.buton {
    font-size: 2rem;
    cursor: pointer;
    transition: left 0.3s ease; 
}

.container.active ~ .buton {
    left: 80px; 
}

.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-block: 2%;
}

.top h2{
    width: 100%;
    text-align: center;
}