:root {
  --index-color: rgba(0, 0, 0, 0.3);
  --bg: #eeffef;
  --gradient: rgba(255, 255, 255, 0.5);
  --text-color: black;
  --soft-bg: rgba(0, 0, 0, 0.4);
  --soft-text-color: rgba(0, 0, 0, 0.2);
  --mobile-toggle-image: url("../../public/moon.png");
  --border-color: rgba(15, 1, 1, 0.2);
  --back-color: rgba(6, 120, 11, 0.6);
  --footer-bg: rgba(217, 217, 217, 0.43);
  --footer-bg-two: rgba(217, 217, 217, 0.2);
  --brightness: 0.2;
  --alpha: 0.3;
  --opacity:0.9;
  --glow-opacity:0.2;
  --font-weight: normal;
}

.dark {
  --index-color: rgba(255, 255, 255, 0.4);
  --bg: #000602;
  --gradient: rgba(0, 0, 0, 0.8);
  --text-color: white;
  --soft-bg: rgba(255, 255, 255, 0.4);
  --soft-text-color: rgba(255, 255, 255, 0.32);
  --mobile-toggle-image: url("../../public/sun.png");
  --border-color: rgba(255, 255, 255, 0.28);
  --back-color: rgba(6, 120, 11, 0.6);
  --footer-bg: rgba(217, 217, 217, 0.1);
  --footer-bg-two: rgba(217, 217, 217, 0.05);
  --brightness: 1;
  --alpha: 0.5;
  --opacity:0.7;
  --glow-opacity:0.3;
  --font-weight: lighter;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.25s ease;
}

body,
html {
  max-width: 100vw;
  overflow-x: hidden;
  height: 100%;
  min-height: 100vh;
  scroll-behavior: smooth;
}

body,
html,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
}

a,
li {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: var(--text-color);
}

.quill {
  color: var(--text-color);
  font-size: 2rem !important;
}

.ql-editor {
  width: 100% !important;
  height: 100% !important;
  min-height: 350px !important;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.ql-toolbar {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.ql-editor,
.ql-toolbar {
  background-color: var(--footer-bg-two);
}

.ql-editor.ql-blank::before {
  color: var(--text-color) !important;
}

.ql-editor,
.ql-editor.ql-blank::before {
  font-size: 1.2rem !important;
}

.ql-container,
.ql-toolbar {
  border: none !important;
}

.ql-video {
  display: block !important;
  max-width: 100% !important;
  width: 70% !important;
  height: 70% !important;
  object-fit: cover !important;
}

.ql-formats .ql-video {
  width: 25px !important;
  height: 25px !important;
}

.ql-align-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.ql-align-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.ql-align-center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.ql-tooltip {
  width: 250px !important;
  left: 10% !important;
}

.ql-editor iframe {
  max-width: 100%;
  height: auto;
  aspect-ratio: 16 / 9; /* Ensures correct aspect ratio */
}


.container {
  background-color: var(--bg);
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100vw;
  overflow: hidden;
}

.wrapper {
  padding: 0 80px;
  width: 90%;
  min-height: 100vh;
}

@media screen and (max-width: 1024px) {
  .wrapper {
    width: 95%;
    padding: 0 10px;
  }
  .ql-video {
    width: 50vw !important;
    height: 60vw !important;
  }
}

@media screen and (max-width: 868px) {
  .ql-video {
    width: 80vh !important;
    height: 80vh !important;
  }
}

@media screen and (max-width: 640px) {
  .wrapper {
    width: 100%;
    padding: 0 20px;
  }
  .ql-container,
  .ql-editor.ql-blank::before p {
    min-height: 350px !important;
  }
  .ql-video {
    width: 80vw !important;
    height: 90vh !important;
  }
  .ql-editor {
    min-height: 250px !important;
  }
}
