.container{
    margin-block: 20%;
}

.container h1{
    margin-block: 2%;
}

.flexWrapper{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
    margin-block: 5%;
}

.itemOne{
    width: 70%;
    margin-right: 5%;
}

.itemTwo{
    width: 30%;
}

@media screen and (max-width:868px) {
    .container{
        margin-block: 40%;
    }
    .flexWrapper{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .itemOne{
        margin-right: 0;
    }
    .itemTwo{
        width: 90%;
    }
}