.flexWrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 30px;
  margin-block: 5%;
}

.itemOne {
  width: 100%;
  margin-right: 5%;
}

.itemTwo {
  width: 80%;
}

@media screen and (max-width: 768px){
  .flexWrapper{
    flex-wrap: wrap;
    align-items: center;
  }
  .itemTwo{
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .flexWrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .itemOne {
    margin-right: 0;
  }
  .itemTwo {
    width: 90%;
  }
}
