
.admin-container{
    background-color: var(--bg);
    color: var(--text-color);
    width: 100vw;
    overflow: hidden;
}

.admin-wrapper{
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

@media screen and (max-width:2560px) {
    .admin-container{
        margin-left: -200px;
    }
}

@media screen and (max-width:1440px) {
    .admin-container{
        margin-left: -152px;
    }
}


@media screen and (max-width:1300px) {
    .admin-container{
        margin-left: -145px;
    }
}

@media screen and (max-width:1224px) {
    .admin-container{
        margin-left: -142px;
    }
}

@media screen and (max-width:1024px) {
    .admin-container{
        margin-left: -35px;
    }
}

@media screen and (max-width:650px) {
    .admin-container{
        margin-left: -20px;
    }
}