/*!*********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[3]!./src/components/themetoggle/themetoggle.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************/
.themetoggle_container__SfpgS{
    width:60px;
    height: 26px;
    border: 2px solid;
    border-radius: 20px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: 0.5s ease;
}

.themetoggle_ball__IiYbw{
    width:20px;
    height:20px;
    border-radius: 100%;
    background-color: green;
    position: absolute;
    transition: 0.5s ease left;
}


@media screen and (max-width:580px) {  
    .themetoggle_ball__IiYbw{
        display: none;
    }
    .themetoggle_img__MRGts{
        display: none;
    }
    .themetoggle_container__SfpgS{
        width: 26px;
        border-radius: 50%;
        background-image: var(--mobile-toggle-image);
        background-size: contain;
        padding: 13px;
        margin-right: 10px;
    }
}

