.container {
  min-height: 100vh;
}

.lower {
  display: flex;
  flex-direction: row;
  gap: 5%;
}

.itemOne {
  width: 500px;
}

.itemTwo {
  margin-top: 12%;
}

@media screen and (max-width: 880px) {
  .lower {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center ;
  }
  .itemOne {
    width: 100%;
  }

  .itemTwo {
    margin-top: 0%;
    width: 100%;
  }
}
