.container {
  padding: 20px 0;
  position: relative;
  z-index: 1;
}

.container,
.nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.e:first-child {
  width: 55%;
}

.nav {
  width: 100%;
  padding: 10px;
}

.end {
  display: none;
}

.nav ul {
  gap: 5%;
}

.nav ul li a {
  font-weight: var(--font-weight);
  transition: font-weight 0.5s ease;
}

.logo {
  font-weight: bolder;
  font-size: 2rem;
  background-image: url('../../../public/Ghtrendz.png');
  width: 140px;
  height: 50px;
  /* border: 2px solid red; */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  flex-direction: row;
  width: 80%;
}

.back {
  background-color: var(--back-color);
  position: absolute;
  top: 0;
  left: -20%;
  width: 150vw;
  height: 55vh;
  z-index: -1000;
}


@media screen and (max-width: 1280px) {
  .nav ul li a {
    font-size: 0.9rem;
  }
  .nav ul {
    width: 100%;
    padding: 5px;
    gap: 10%;
    margin-left: -10px;
  }
  .logo {
    font-size: 1.5rem;
    background-image: url('../../../public/Ghtrendz2.png');
    width: 50px;
  }
}

@media screen and (max-width: 580px) {
  .container {
    width: 100%;
    gap: 10%;
  }
  .nav,
  .e {
    display: none;
  }
  .e {
    background-color: red;
  }
  .header {
    width: 50%;
  }
  .end {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 100%;
    height: auto;
  }
  .logo{
    background-image: url('../../../public/Ghtrendz.png');
    width: 150px;
    height: 50px;
    /* border: 2px solid red; */
  }
}
