.container{
    position: relative;
    width: calc(100% - var(--left));
    left: var(--left);
    min-height: 100vh;
    padding: 20px;
    top: 100%;
    margin-bottom: 5%;
} 


.buton {
    font-size: 2rem;
    cursor: pointer;
    transition: left 0.3s ease; 
}

.container.active ~ .buton {
    left: 80px; 
}

.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-block: 2%;
}

.top h2{
    width: 100%;
    text-align: center;
}



@media screen and (max-width:1424px){
    .container{
        width: calc(100% - 80px);
        left: 80px;
    }
}



@media screen and (max-width:868px) {
    .container{
        width: 100%;
        left: 0;
        
    }
    
}

@media screen and (max-width:640px) {
    .container{
        margin-bottom: 30%;
    }
}

