.container{
    position: relative;
}
.container h3, .container h4{
    margin-block: 2%;
}

.container ul{
    margin-block: 1%;
    margin-left: 5%;
}

.container ul li{
    margin-block: 3%;
}

.container p, .container span{
    opacity: 0.6;
}

.container p:last-child{
    margin-block: 5%;
}

@media screen and (max-width:640px) {
    .container{
        margin-block: 5%;
    }
}